HTTP_PORT=:3333
DB_HOST=localhost
DB_PORT=5432
DB_USER=username
DB_PASSWORD=rds123
DB_NAME=chatdb
AUTH_FILE_PATH=./config/auth.conf
CSV_FILE_PATH=./config/roles.csv
SIGNING_KEY=chat-app123
MAIL_USERNAME=mail
MAIL_PASSWORD=pass
SMTP_HOST=smtp.gmail.com
LOG_LEVEL=debug
REDIS_HOST=localhost
REDIS_PORT=6379

